.foot-container{
    max-width:1140px;
    margin:auto;
    display: flex;



}
.footer{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-left:10px;
}
.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-left:450px;
}
.location{
   display: flex;
    
}
.add{
    top:0%;
    left:10px;
}
.location p{
    line-height: 30px;

}