.btn{
    padding:12px 32px ;
    font-size: 10px;
    text-transform: uppercase;
    background:yellow ;
    color:black;
    border: 1px solid #ffff;
    font-weight: 6rem;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
  
  
  }
  .btnn{
    padding:12px 32px ;
    font-size: 10px;
    font-weight: 6rem;
    text-transform: uppercase;
    border: 1px solid #ffff;
    background: #d3d3d3;
    font-family: 'Courier New', Courier, monospace;

  
  
  }
  .btn:hover{
    background: #d3d3d3fd;
    color: rgb(9, 10, 10);
    transition: 0.3s;
    font-size: 14px;

  }
  .btnn:hover{
    background: transparent;
    color: rgb(9, 10, 10);
    font-size: 14px;
    transition: 0.3s;
  }
  .mask{
    margin-left: 0%;
    max-width:100%;
    height:96vh;
    left:0%;
    
  }
  .introimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    left: 0%;
  }
  .mask::after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgb(18, 13, 13);
    opacity: 0.7;

  }
 
  .hero{
    height:100%;
    width: 100%;
  }
  .hero  .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top:60%;
    left:50%;
    text-align: center;

  }
  .hero .content ,p{
    font-size: 1.4rem;
    font-weight: 400;
  }
.content .btn{
    margin: 1rem 0.2rem;

}
h2{
  font-family: 'Times New Roman', Times, serif;
  color:#f1ecec;
  font-size: xx-large;
}